/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html, body { 
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'roboto_condensedregular';
}

.floatleft {
    float: left;
}

#root_header {
    background-color: #0288d1;
    font-size: 13pt;
    padding: 5px;
    color: white;
    height: 46px;
    padding: 1em;
}

#root_title {
    float: left;
    font-size: 18px;
    line-height: 28px;
    margin: 9px 20px;
}

#root_body {
    background-color: #fff;
    padding: 1em;
}

#root_footer {
    font-size: 10pt;
    padding: 1em;
}

#body_footer {
    font-size: 10pt;
    padding: 1em;
}

.ui-panel .ui-panel-titlebar {
    background-color: #0288d1;
}

.ui-picklist .ui-picklist-list { 
   width: 400px;
   height: 200px;
}

.ui-datatable table {
    table-layout: auto;
}

.no-table-header table thead {
    display: none;
}

.no-grid-borders.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.actionIconFs {
    font-size: 18px;
}

.topAlign {
    vertical-align: top;
}

.maxWidth {
    width: 100%;
}

.jqplot-target {
    font-size: 80%;
}

.redColoredPanel .ui-panel-content {
   background-color: #FBB;
}

.rowhighlight {
    background-color: #CAE2FF;
}

.rowgreyedout {
    color: #AAA;
}

.weekdaycolumn {
    width: 80px;
}

.persplancolumn {
    width: 160px;
}

.persplancellfree {
    background: #BFB;
}

.persplancelloccupied {
    background: #FBB;
}

.persplancellgone {
    background: #DDF;
}

.persplancellofftime {
    background: #FFF;
}
